/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    min-height: 100vh; /* Ensures footer is at the bottom */
    position: relative; /* For footer positioning */
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 1.5rem;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff6600;
    text-decoration: underline;
}

/* Main Content */
main {
    margin-bottom: 2.5rem; /* Space for the footer */
}

/* Sections */
section {
    margin-bottom: 1.5rem;
}

section h2 {
    color: #333;
    margin-bottom: 0.5rem;
}

/* Paragraphs */
p {
    margin-bottom: 1rem;
}

/* Project Cards */
.project-card {
    background-color: #e3e3e3;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}

/* Skills List */
#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    margin-bottom: 0.5rem;
}

/* Contact Form */
#contact-form {
    margin-top: 1rem;
}

#contact-form label {
    display: block;
    margin-bottom: 0.5rem;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
}

#contact-form input[type="submit"] {
    background: #333;
    color: #fff;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form input[type="submit"]:hover {
    background: #555;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Media Queries */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 1rem;
    }

    nav, footer {
        text-align: center;
    }

    header, main, footer {
        padding: 1rem;
    }
}
